html {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-image: url("../justin-site/Images/Pyramidal_Neuron_Dark_Blur.jpg");
    color: #790404;
    margin: 0;
}

header {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 50px;
    background-color: #454545;
    opacity: 60%;
}

h2 {
    font-size: 2em;
    font-family: 'Catamaran';
    font-weight: 100;
    padding-bottom: 0;
    margin: 0;
}

h3 {
    font-size: 1.25em;
    font-weight: 300;
}

h3, p {
    margin: 0;
    padding-bottom: 15px;
}

p {
    font-size: 1em;
    font-weight: 300;
}

#mainBody {
    display: flex;
    justify-content: center;
    flex-wrap: none;
    padding-top: 2em;
}

#columnOne {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headshot {
    max-height: 325px;
    padding: 0 50px 0 50px;
}

#mainText {
    flex: 0 0 50%;
    text-align: justify;
    color: #efefef;
}

.navIcon {
    width: 45px;
    padding: 10px;
}

.navIcon:hover {
    opacity: 60%;
    transition: .5s;
}

.nav:hover {
    color: #75AFBC;
    transition: .25s;
}

.nav {
    color: #efefef;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 300;
    opacity: 100%;
}

.paraLink {
    color: #75AFBC;
    text-decoration: none;
}

.paraLink:hover {
    color: #D40505;
    transition: .25s;
}
