html {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-image: url("../justin-site/Images/Pyramidal_Neuron_Dark_Blur.jpg");
    color: #efefef;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 0 10px;
}

p {
    font-size: 16px;
}

h1 {
    padding-left: 20px;
    font-size: 1.75em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h2, h3, p {
    margin: 0;
    padding-bottom: 15px;
}

p {
    font-size: 1em;
}

#mainBody {
    display: flex;
    justify-content: center;
    flex-wrap: none;
    padding-top: 2em;
}

#columnOne {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headshot {
    max-height: 325px;
    padding: 0 50px 0 50px;
}

#mainText {
    flex: 0 0 50%;
    text-align: justify;
}

.navIcon {
    width: 45px;
    padding: 10px;
}

.navIcon:hover {
    opacity: 60%;
    transition: .5s;
}

.nav:hover {
    color: #5f0a0e;
    transition: .25s;
}

.nav {
    color: #efefef;
    text-decoration: none;
    margin-right: 20px;
}

.paraLink {
    color: #eb414a;
    text-decoration: none;
}

.paraLink:hover {
    color: #5f0a0e;
    transition: .25s;
}
